* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    position: relative;
    height: 100vh;
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
}
h1 {
    width: fit-content;
    height: 100px;
    background: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 175px;
    padding: 0 10PX;
}
/*  */